/* .App {
  font-family: "Lato-sans/serif";
  text-align: center;
}

.border-right {
  border-right: 1px solid rgb(255, 255, 255);
  justify-content: center;
} */

.app {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: #f8f9fd;
}
.book-header{
  margin-left: 500px;
  margin-top: 90px;
}
input[type="signInText"]{
  margin-top: 10px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}
.signIn-password{
  margin-top: 10px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}
.btnSignIn{
  cursor: pointer;
  border-radius: 10px;
  background-color: #4c78ca;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 20px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.login-form{
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.label-signIn{
  font-size: 100px;
  padding: 60px;
  margin-left: 10px;
}
.kalkisLabel{
  padding: 10px;
}
.btn-book{
  cursor: pointer;
  border-radius: 10px;
  background-color: #4c78ca;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  margin-right: 50px;
}
.btn-return-book{
  font-size: 50px;
}
.adult-book{
  padding: 10px;
  font-size: 20px;
  margin-left:600px;
}  
.text-book{
  margin-top: 10px;
  margin-left: 5px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 30%;
}
.payment-book{
  cursor: pointer;
  background-color: #52b863;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 20px;
  margin-left: 1000px;
  padding: 15px;
}
.onward-header{
  margin-left: 800px;
  margin-top: 20px;
}
.btn-onward{
  cursor: pointer;
  border-radius: 10px;
  background-color: #52b863;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50px;
  width: 15%;
}
.onward-card{
  margin-top: 60px;
  margin-left: 50px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 30%;
}
.return-onward{
    font-size: 20px;
    margin-top: 10px;
}
.return-text{
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: 50px;
  
}
.return-card{
  margin-top: 10px;
  font-size: 1000px;
  background-color: #4c78ca;
}
.metin{
  margin-left: 190px;
  font-size: 50px;
}
.baslik{
  margin-top: 30px;
  border-radius: 30px;
  padding: 30px;
  border: 2px solid #dedede;
  margin-left: 100px;
  
}
.hepsi{
  font-size: 22px;
  padding: 50px;
  margin-left: 60px;
  justify-content: center;
}
.kalkis-yeri{
  margin-top: 10px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 30%;
}
.varis-yeri{
  margin-top: 10px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 30%;
}
.kalkis, .donus, .yolcu {
  margin-top: 10px;
  border: 2px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}
.ucus-ara{
  cursor: pointer;
  border-radius: 10px;
  background-color: #52b863;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 20px;
  margin-top: 30px;
  width: 100%;

}
